body
{
	background: url('../images/cloud.png');
	margin-bottom:40px
}

.main
{
	background: white;
	box-shadow:  0px 0px 5px #888;
	margin-top: 20px;
}

#info
{
	margin-top: 30px;
	background: white;
	padding: 20px;
	border-right: 1px dotted black;
	margin-bottom: 20px;
}

#login
{
	margin-top: 30px;
	background: white;
	padding: 20px;
}

#log
{
	float: right;
	margin-right:5px;
	margin-top: 5px;
	clear: both;
}

h1,h2
{
	font-family: 'HandOfSeanRegular';
}

h3
{
	font-family: 'HandOfSeanRegular';
	font-weight: 100;
}

#map
{
	text-align:center;
}

#form
{
	text-align:center;
}

#button
{
	float: right;
	clear: both;
}

#createbutton
{
	text-shadow: #444 -1px -1px 0;
	font-size:16px;
}

/* create pet page */

.main2
{
	background:  url('../images/fabric_plaid.png');
	box-shadow:  0px 0px 5px #000;
	margin-top: 20px;
}

#create
{
	position: relative;
	padding: 20px;
	text-align:center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow:  0px 0px 5px #888;
	background:white;
}

#createform
{
	position: relative;
	width: 300px;
	left: 11%;
}

#buttoncreate
{
	font-size: 14px;
	font-weight:700;
	text-shadow: #444 -1px -1px 0;
}

/* interaction page */

#title
{
	margin-top: 10px;
	padding: 20px;
	text-align:center;
}

#interact
{
	margin-top: 5px;

	text-align:right;
}

#petbutton
{
	margin-top: 20px;
	text-align:left;
	padding: 20px;
}